<button type="button" class="btn btn-success" ng-click="proj.getStatVisibleRows()">Select Visible Rows by page</button>
<button type="button" class="btn btn-success" ng-click="proj.clearStatAll()">Clear All</button>
<div id="grid1" ui-grid="proj.statGrid" ui-grid-pagination  ui-grid-selection class="grid"></div>

<button type="button" class="btn btn-success" ng-click="proj.getRealVisibleRows()">Select Visible Rows by page</button>
<button type="button" class="btn btn-success" ng-click="proj.clearRealAll()">Clear All</button>
<div id="grid2" ui-grid="proj.realGrid" ui-grid-pagination  ui-grid-selection class="grid"></div>